<!-- <p>header works!</p> -->
<div class="containerr">
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title" style="font-family: 'Yeseva One', cursive;font-size: 25px;">
                BOOK<span style="color: #f5a81c;">SPOT</span>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links ">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#feature">About Us</a></li>
                <li><a href="#con">Lend Book</a></li>
                <li><a href="#cont">Contact Us</a></li>
                <li><a href="#rep">View Report</a></li>
                <!--Social Icon-->
            </ul>
        </div>
    </div>

    <div class="rrow">
        <div class="row-1">
            <p>WELCOME TO BOOK SPOT</p>
            <h1>A Room without books is like a body without a soul.</h1>
        </div>
        <div class="btnn">
            <a href="#feature"><span></span>AboutUs</a>
            <a href="#con"><span></span>Lend Book</a>
        </div>

    </div>
</div>
<!-- END OF HEADER -->



<!-- START OF ABOUT -->

<section id="feature">
    <div class="title-text">
        <h1>About Us</h1>
    </div>
    <div class="feature-box">
        <div class="features">
            <div class="features-desc">
                <div class="feature-text">
                    <h1>BOOK SPOT</h1>
                    <p>BookSpot is a comprehensive online bookstore for both books and other products of every point of knowledge. Our philosophy is based on information, communication and education, which we feel should be balanced out with a daily dose of knowledge,wisdom, understanding (overstanding, and innerstanding). Our website features books from every literary genre, allowing us to appeal to any particular taste a customer may have. 
                    </p>
                    <div class="btnnn" >                        
                        <a href="#con" style="background-color: #f5a81c;color: white;"><span></span>Lend Book</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="features-img">
            <img src="../../assets/Images/about_gif.gif">
        </div>
    </div>
</section>

<!-- END OF ABOUT US -->



<!-- START OF LEND BOOK -->

<div id="con" class="con">
    <div class="col-md-6">

        <form class="b-form" >
            <div [formGroup]="lendForm">
                <h1 style="color: #f5a81c;text-align: center;">LEND BOOK</h1>
                <hr>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="uname">Name:</label>
                        <input type="text" formControlName="Name" class="form-control" id="uname"
                            placeholder="Enter Name" name="uname" [ngClass]="{ 'is-invalid': submitted && f.Name.errors }">
                        <div>
                            <h6 style="color:red" *ngIf="f.Name.touched && f.Name.errors?.required">
                               
                            </h6>
                            <h6 style="color:red" *ngIf="f.Name.errors?.minlength">
                                
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" formControlName="Email" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }">
                        <div>
                            <h6 style="color:red" *ngIf="f.Email.touched && f.Email.errors?.required">
                                
                            </h6>
                            <h6 style="color:red" *ngIf="f.Email.touched && f.Email.errors?.pattern">
                                *Email Id Format is Required
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="cate">Category</label>
                        <select class="form-control" style="color: #f5a81c;" formControlName="To_cate" [(ngModel)]="selectedCategory.id"
                            (change)="onSelect($event.target)">
                            <option value="0" selected disabled hidden >-- select Category --</option>
                            <option *ngFor="let cate of category?.category" [value]="cate.id">{{cate.name}}</option>
                        </select>                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subcate">Book</label>
                        <select class="form-control"  style="color: #f5a81c;" formControlName="To_book" >
                            <option value="0" selected disabled hidden>-- select book --</option>
                            <option *ngFor="let bk of book" [value]="bk.id">{{bk.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label" for="date">Return Date</label>
                        <input [(ngModel)]="n1" (change)="add()" formControlName="rcal" class="form-control" id="date"
                            name="date" placeholder="No.of days" type="date" [ngClass]="{ 'is-invalid': submitted && f.rcal.errors }" />
                            <div>
                                <h6 style="color:red" *ngIf="f.rcal.touched && f.rcal.errors?.required">                                   
                                </h6>                              
                            </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">Lended Date:</label>
                        <input type="text" class="form-control" id="lendDate" name="lendDate" 
                            value="{{date|date:'MM-dd-yyyy'}}"  readonly>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="country">Cost:</label>
                        <input type="text" class="form-control" formControlName="price" id="cost" name="cost"
                            value="{{result|currency:'INR'}}" placeholder="Cost"  [ngClass]="{ 'is-invalid': submitted && f.price.errors }" readonly>
                    </div>
                </div>
                <div class="col-md-6"></div>

                <div class="col-md-12" style="margin-top: 25px;text-align: center;">
                    <button type="submit" class="btn btn-warning" (click)="onSave()"
                    style="margin-right: 10px; border-radius: 20px;background-color: #f5a81c;font-size: 20px;">Save</button>

                    <button type="submit" class="btn btn-warning" (click)="submit()"
                        style="border-radius: 20px;background-color: #f5a81c;font-size: 20px;"
                       >Submit</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-6"></div>
    
</div>
<!-- END OF LEND BOOK -->



<!-- START OF CONTACT -->
<div id="cont" class="con-row">

    <div class="col-md-12 C12">

        <p style="font-size: 50px; color:#f5a81c;">Contact us</p>

        <h2>BOOK SPOT.ORG</h2>
        <h4>STAY CONNECTED</h4>
        <p>Keep up on the best new books,<br> timely features, and special offers.

        </p>
        <br>
        <p>Telephone Number: <a href="tel: 044-24501226">044-24501226</a><br>

            Toll Free Number: <a href="tel: 1800-365-5533">1800-365-5533</a><br>
            Mail ID: <a href="mailto:info@bookspot.in">info@bookspot.in </a></p>
    </div>

</div>

<!-- end OF CONTACT -->
<div class="report-table" >
<div id="rep" class="container" >
    <h1 class="text-center" style="color: #f5a81c;">View Report</h1>
    <hr>
<table class="table" style="border: 2px solid #f5a81c;">
    <thead style="background-color:#f5a81c; color:azure;">
      <tr>
        <th scope="col">Request No:</th>
        <th scope="col">Name</th>
        <th scope="col">Mail Id:</th>
        <th scope="col">Category:</th>
        <th scope="col">Book:</th>
        <th scope="col">Lended Date:</th>
        <th scope="col">Return Date:</th>
        <th scope="col">Charges:</th>
        <!-- <th scope="col">TotalAmount:</th> -->      
      </tr>
    </thead>
    <tbody style="background-color:#fff; color:#f5a81c;font-weight: bold;">
      <tr *ngFor="let rec of userRecord">
        <td>{{rec.requestNo}}</td>
        <td>{{rec.Name}}</td>
        <td>{{rec.Email}}</td>
        <td>{{rec.To_cate}}</td>
        <td>{{rec.To_book}}</td>
        <td>{{rec.lcal}}</td>
        <td>{{rec.rcal}}</td>
        <td>{{rec.price|currency:'INR'}}</td>      
        <!-- <td>@mdo</td> -->
      </tr>  
   
    </tbody>
  </table>
</div>
</div>