.con-row{
    /* background-color: #180b03;   
    min-height: 100vh; */
    background-image: linear-gradient( rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8)100%),url(../../assets/Images/landing_img1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.C12{
    text-align: center;
    color: #fff;
    margin: 120px 0 50px 0;
    font-size: large;
}

@media (max-width:750px) {
    .con-row{
        margin-top: -120px;
    }

}