<!-- <p>about works!</p> -->

<!-- <div class="aMargin">
    <div class="about-section">
        <div class="aInner-container">
            <h1>ABOUT US</h1>
            <p class="aText">
                We always follow the CMDA norms in all our projects
                Timely completion and Handover is done precisely at the promised dates
                Soil Test is performed and structural analysis is done
                Property title of our premium flats in Chennai and transactions with transparency and clarity to ensure credibility
                Construction ensures to have earthquake resistance to the buildings in our projects
                We only avail internationally renowned brands for all our fixtures
                System oriented approach is followed during the construction of our premium flats in Chennai
            </p>

        </div>
    </div>
</div> -->

<section id="feature">
    <div class="title-text">
        <!-- <p>HI THERE</p> -->
        <h1>About Us</h1>
    </div>
    <div class="feature-box">
        <div class="features">
            
            <div class="features-desc">
                <!-- <div class="feature-icon">
                    <i class="fas fa-hat-chef"></i>
                </div> -->
                <div class="feature-text">
                    <h1>Lorem Ipsum</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                         Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                         when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                          It has survived not only five centuries, but also the leap into electronic typesetting,
                           remaining essentially unchanged.
                    </p>
                </div>
            </div>
            <!-- <h1>Lorem Ipsum</h1>
            <div class="features-desc">
                <div class="feature-icon">
                    <i class="fas fa-pizza"></i>
                </div>
                <div class="feature-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div>
            <h1>Lorem Ipsum</h1>
            <div class="features-desc">
                <div class="feature-icon">
                    <i class="fas fa-biking"></i>
                </div>
                <div class="feature-text">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                </div>
            </div> -->
        </div>
        <div class="features-img">
            <img src="../../assets/Images/about_img.jpg">
        </div>
    </div>
</section>