<!-- <p>header works!</p> -->
<div class="containerr">
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                BOOK <span style="color: #f5a81c;">SPOT</span>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links ">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a routerLink="/about">About Us</a></li>
                <li><a href="#">Lend Book</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">View Report</a></li>
                <!--Social Icon-->
            </ul>
        </div>
    </div>

    <div class="rrow">
        <div class="row-1">
            <p>WELCOME TO BOOK SPOT</p>
            <h1>A Room without books is like a body without a soul.</h1>
        </div>
      
        <div class="btnn">
            <a routerLink="/about"><span></span>AboutUs</a>
            <a href="#"><span></span>Lend Book</a>
        </div>     

    </div>
</div>
<router-outlet></router-outlet>