/*HEADER*/

/* * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
   */
   .containerr {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../assets/Images/landing_img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    
}
  .nav {
    height: 50px;
    width: 100%;
    /* background-color: #220303; */
    background: #333, 0;
    position: relative;
  }

 .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    font-size: 22px;
    color: #fff;
    font-weight: 550;
  }
  

.nav > .nav-links {
    font-size: 18px;
    display: inline;
    float: right;

  }
  .nav > .nav-links > ul li a{
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    display: block;
    padding: 0 8px;
    text-decoration: none;

  }
  .nav > .nav-links > ul{
    list-style: none;
    position: relative;
    padding: 0;
    margin-top: 5px;
    
  }
  .nav > .nav-links > ul li{
    display: inline-block;
    /* background-color: #220303; */
    background: #333, 0;
    
    
  }
  .nav > .nav-links > ul li :hover{
      background-color: #f9ec8f;
      border-radius: 5px;
      color: rgb(156, 35, 35);
  }


 .nav > .nav-btn {
    display: none; /*Hide toggle button for desktop*/
  }
   .nav > #nav-check {
    display: none;
  }

@media (max-width:750px) {
  #rep{
    display: none;
  }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      height: 50px;
      padding: 13px;
      display: inline-block;
      width: 50px;

    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      height: 10px;
      border-top: 2px solid #eee;
      display: block;
      width: 25px;

    }
    .nav > .nav-links {
      position: absolute;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      display: block;
      width: 100%;
      background-color: #333;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      /* width: 100%; */
    }

    /*   */    
      .nav > .nav-links > ul li{
        padding: 0;
        background-color: #333;
        display: block;
        margin-bottom: 20px;
         
      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }

    .btnn{
      display: none;
    }
  }

  .row-1 {
    border-width: 0px;
    border-left: 3px solid #f5a81c;
    width: 75%;
    margin-left: 15%;
    margin-top: 10%;
    padding-left: 15px;
    
}

.row-1 p{
    color: #fff;
    font-size: 20px;
}

.row-1 h1{
    color: #fff;
    font-size: 65px;
}
/* .row-2{
    border: 2px solid #fff;
    width: 15%;
    border-radius: 15px;
    padding: 10px;
    margin-left: 43%;
    text-align: center;
}
.row-2 a{  
   color: white;
   font-size: 20px;
}

.row-2:hover{
    background-color: teal;    
} */

.btnn{
    /* margin: 70px auto 0; */
  
    text-align: center;
    }
    .btnn a{
    width: 150px;
    text-decoration:none;
    display:inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #f9ec8f;
    border: .5px solid #f9ec8f;
    position: relative;
    z-index:1;
    transition: color 0.5s;
    border-radius: 20px;
    font-size: 18px;
    }
    .btnnn a{
      width: 150px;
      text-decoration:none;
      display:inline-block;
      margin: 0 10px;
      padding: 12px 0;
      color: #f9ec8f;
      border: .5px solid #f9ec8f;
      position: relative;
      z-index:1;
      transition: color 0.5s;
      border-radius: 20px;
      font-size: 18px;
    }
    .btnn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    background: #f5a81c;
    z-index:-1;
    transition:0.5s;
    border-radius: 20px;
    }
    .btnn a:hover span{
    width:100%;
    color: #f9ec8f;
    }
  
    .banner-btnn a:hover{
        color: white;
        text-decoration: none;
     
        }

@media (max-width: 944px){
    .row-1 {
        border-width: 0px;
        border-left: 0px;
        width: 60%;
        margin-left: 20%;
        margin-top: 15%;
        padding-left: 15px;
        text-align: center;        
    }

    .row-1 p{
        color: #fff;
        font-size: 16.8px;
    
    }
    
    .row-1 h1{
        color: #fff;
        font-size: 45px;
    }
    .row-2{
        border: 2px solid #fff;
        width: 28%;
        border-radius: 15px;
        padding: 10px;
        margin-left: 35%;
        text-align: center;
        margin-top: 5%;
    }
    .row-2 a{  
       color: white;
       font-size: 15px;
    }
    
    .row-2:hover{
        background-color: teal;    
    }
}
/*END OD NAVBAR*/





/* about us */
#feature {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 115px;
    
    }
    .title-text {
    text-align: center;
    padding-bottom: 40px;
    }
     .title-text p {
    margin: auto;
    font-size: 30px;
    color: #f5a81c;
    } 
    .title-text h1 {
    font-size: 50px;
    }
    .feature-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    }
    .features {
    flex-basis: 50%;
    }
    .features-img {
    flex-basis: 50%;
    margin: auto;
    } 
    .features-img img {
    width: 70%;
    border-radius: 10px;
    }
    
    .features-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    }
    .feature-icon .fas {
    width: 50px;
    height: 50px;
    font-size: 140px;
    line-height: 50px;
    border-radius: 8px;
    color: #f5a81c;
    border: 1px solid #f5a81c;
    }
    .feature-text h1 {
       
        margin-bottom: 10px;
        font-weight: 100;
        color: #f5a81c;
        }
    .feature-text p {
    padding: 0 20px;
    text-align: initial;
    font-size: 20px;
    text-align: justify;
    }
    @media screen and (max-width: 770px) {
    .title-text h1 {
    font-size: 35px;
    } 
    .features {
    flex-basis: 100%;
    } 
    .features-img {
    flex-basis: 100%;
    }
     .features-img img {
    width: 100%;
    }
    .feature-text p {
   
      text-align: center;
      }
    }
    
/*END OF ABOUT US*/    









/*LEND-BOOK*/
.con{
    /* background-color: #180b03;   
    min-height: 100vh; */

    background-image: linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url(../../assets/Images/form-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.b-form{
    margin: 100px 0 0 0;
}

.b-form label{
    color: #fff;
}
.b-form input,select{
    border-radius: 20px;
}

.b-form input{
    color: #f5a81c;
    font-size: 18px;
}

.b-form input:focus{
  border-color: #f5a81c;
}



.b-form select:focus{
  border-color: #f5a81c;
}

.b-form input.ng-touched.ng-invalid {
  border: solid red;
}

@media (max-width:750px){
    .b-form{
        margin: 20px;
    }
}


/* START OF CONTACT US */

.con-row{
    /* background-color: #180b03;   
    min-height: 100vh; */
    background-image: linear-gradient( rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8)100%),url(../../assets/Images/landing_img1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.C12{
    text-align: center;
    color: #fff;
    margin: 120px 0 50px 0;
    font-size: large;
}

@media (max-width:750px) {
    .con-row{
        margin-top: -120px;
    }
 
    .report-table{
      display: none;
    }

}


.report-table{
  background-image: linear-gradient( rgba(0, 0, 0, 0.8) 100%, rgba(0, 0, 0, 0.8)100%),url(../../assets/Images/landing_img1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;}